#chat {
	/* background-color: var(--primary-shade); */
	background: var(--primary-harsh);
	background: url('https://res.cloudinary.com/bendmyers/image/upload/v1619896651/backlit_thumbnail_dzmjac.png') no-repeat;
	background-size: 100vw;
	color: white;
	font-family: Nexa, Verdana, sans-serif;
	height: 797px;
	overflow: hidden;
}

#chat .blur {
	width: 100%;
	height: 797px;
	backdrop-filter: brightness(70%) blur(3px);

	/* This stuff is the magic that lets us add new messages to the bottom and push the old messages up */
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
}

.camera + .camera + #chat,
.camera + .camera + #chat .blur {
	/* height: calc(1210px - 2*(336px)); */
	height: 514px;
}

.throuple #chat,
.throuple #chat .blur {
	height: 330px !important;
}

#chat ::-webkit-scrollbar {
	display: none;
}

#chat ul {
	list-style: none;
	padding-left: 1em;
	padding-right: 1em;
}

#chat li {
	opacity: 0;
	transform: rotateX(-90deg);
	transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

#chat li.show {
	opacity: 1;
	transform: none;
	transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

#chat ul li + li {
	margin-top: 1.5em;
}

.sender {
	font-size: 1.2em;
	font-weight: 900;
	margin-bottom: .3em;
	color: var(--primary-light);
	padding: 1% 0%;
}

.sender.mod,
.sender.vip {
	background-color: var(--primary);
	color: whitesmoke;
	width: max-content;
	padding: 1% 2% 0.4%;
	margin-left: -0.3em;
}

/* It me! */
.sender.broadcaster {
	color: var(--secondary);
	background-color: transparent;
}

/* Subscribers */
.sender.subscriber {
	color: var(--ternary);
}

.message {
	margin-top: 0;
	font-weight: 500;
	line-height: 1.25em;
	font-family: Inter, Verdana, sans-serif;
	max-width: 42ch;
}

.emote {
	display: inline;
	width: 1.5em;
}

.event {
	text-align: center;
	color: white;
	font-family: 'Nexa', sans-serif;
	font-weight: 800;
	background-color: var(--primary-shade);

	width: calc(100% + 4em);
	margin-left: -2em;
	padding-top: 1.25em;
	padding-bottom: 1em;
}

.event .event-user {
	color: var(--ternary);
	font-weight: 900;
}