html, body {margin: 0;}

:root {
	--primary: #4c1074;
    --primary-glare: #743c9b;
    --primary-soft: #EBE1F3;
    --primary-harsh: #1c0929;
    --primary-shade: #280241;
    --secondary: #ee4433;
    --secondary-glare: #ff6a5b;
    --secondary-soft: #fce8e8;
    --secondary-shade: #cd2210;
    --ternary: #eed043;
    --ternary-glare: #ffe56a;
    --ternary-shade: #dab819;
    --lightgray: #fcfcfc;
    --middlegray: #929292;
    --brand-font: "Nexa";
    --body-font: "Inter";
    --mono-font: "Fira Mono";
}

body {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 1456px 336px;
}

#left {
	display: grid;
	grid-template-rows: 910px 210px;
}

#screen {
	background-color: tomato;
}

header {
	background: linear-gradient(-45deg,var(--primary-glare),var(--primary-glare) 30%,var(--primary) 30%,var(--primary) 100%);
}

h1 {
	color: white;
	font-family: Nexa, Verdana, sans-serif;
	font-size: 50px;
	font-weight: 900;
	text-shadow: 10px 10px var(--primary-shade);
	margin: 3.5% 2.5% 1% 2.5%;
}

p.show-name {
	background-color: var(--primary-shade);
	color: white;
    display: inline-block;
    font-family: Nexa,sans-serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 300;
    margin: 0% 2.5% 0% 2.5%;
    padding: 1.5% 1% 1% 1%;
}

.camera {
	background-color: violet;
	height: 336px;
}

.camera + .camera {
	background-color: darkkhaki;
}

#chat {
	background-color: cornflowerblue;
	height: 100%;
}