#tunas {
	position: absolute;
}

#tunas img {
	position: absolute;
	transition: 3s all ease-in-out;
}

#tuna1 {
	margin-top: 950px;
	margin-left: 900px;
	width: 300px;
}

#tuna1.active {
	margin-top: 750px;
}

#tuna2 {
	height: 300px;
	margin-top: 275px;
	margin-left: -200px;
	transform: rotateZ(20deg);
}

#tuna2.active {
	margin-left: -75px;
}

#tuna3 {
	width: 150px;
	margin-top: 20px;
	margin-left: 1525px;
	transform: rotateZ(-30deg);
}

#tuna3.active {
	margin-left: 1375px;
}

#tuna4 {
	width: 125px;
	transform: rotateX(180deg) rotateZ(10deg);
	margin-left: 450px;
	margin-top: -215px;
}

#tuna4.active {
	margin-top: -50px;
}