<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Some Antics Scenes</title>
	<script src="https://cdn.jsdelivr.net/npm/comfy.js@latest/dist/comfy.min.js"></script>
	<link rel="stylesheet" href="/css/fonts.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/chat.css" />
	<link rel="stylesheet" href="/css/tunas.css" />
	<link rel="stylesheet" href="/css/chanthink.css" />
</head>
<body>
	<div id="left">
		<section id="interviews">
			<div class="blur">
				<div class="container">
					<div class="camera"></div>
					<div class="camera"></div>
				</div>
			</div>
		</section>
		<header>
			<h1>{{ title }}</h1>
			<p class="twitter-handle">
				{% include partials/twitter-logo.html %}
				<span class="twitter-username">
					<span class="at">@</span>SomeAnticsDev
				</span>

				{% for guestTwitter in guestTwitters %}
				<span class="twitter-username">
					<span class="at">@</span>{{ guestTwitter }}
				</span>
				{% endfor %}
			</p>
		</header>
	</div>
	<div id="right">
		<section id="chat" style="height: 100%;">
			<ul></ul>
		</section>
	</div>
	<div id="tunas">
		<img src="/assets/tuna.png" id="tuna1" alt="" />
		<img src="/assets/tuna-from-front.png" id="tuna2" alt="" style="margin-top: 60px;" />
		<img src="/assets/majestic-boi.png" id="tuna3" alt="" />
		<img src="/assets/ceiling-tuna.png" id="tuna4" alt="" />
		<img src="/assets/monitor-boi.png" id="tuna5" alt="" style="margin-top: 700px;" />
		<img src="/assets/casually-grumpy-boi.png" id="tuna6" alt="" />
	</div>
	<div id="chan">
		<img src="/assets/chanthink.png" alt="" />
	</div>
	<script>
		{% comment %} VARIABLES {% endcomment %}
		let boring = false;
		let maximumTunas = 3;
		let latestSender = '';

		function htmlEntities(html) {
			function it() {
				return html.map(function(n, i, arr) {
						if(n.length == 1) {
							return n.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
								return '&#'+i.charCodeAt(0)+';';
								});
						}
						return n;
					});
			}
			var isArray = Array.isArray(html);
			if(!isArray) {
				html = html.split('');
			}
			html = it(html);
			if(!isArray) html = html.join('');
			return html;
		}

		function formatEmotes(text, emotes) {
			var splitText = text.split('');
			for(var i in emotes) {
				var e = emotes[i];
				for(var j in e) {
					var mote = e[j];
					if(typeof mote == 'string') {
						mote = mote.split('-');
						mote = [parseInt(mote[0]), parseInt(mote[1])];
						var length =  mote[1] - mote[0],
							empty = Array.apply(null, new Array(length + 1)).map(function() { return '' });
						splitText = splitText.slice(0, mote[0]).concat(empty).concat(splitText.slice(mote[1] + 1, splitText.length));
						splitText.splice(mote[0], 1, `<img class="emote" src="http://static-cdn.jtvnw.net/emoticons/v1/${i}/3.0">`);
					}
				}
			}
			return htmlEntities(splitText).join('')
		}

		const chatbox = document.querySelector('#chat ul');

		/**
		 * Displays a message in the chat box.
		 * @param {string} user sender's display name
		 * @param {string} message message contents, not yet sanitized or emotified
		 * @param {Object<string, string[]>} emotes ranges for emotes in message contents
		 */
		function displayMessage(user, message, flags, self, extra) {
			const newMessage = document.createElement('li');

			// Format sender
			const sender = document.createElement('p');
			sender.classList.add('sender');
			let role;
			if (flags.broadcaster || user === 'BenDMyers') role = 'broadcaster';
			else if (flags.mod) role = 'mod';
			else if (flags.vip) role = 'vip';
			else if (flags.subscriber) role = 'subscriber';
			
			role && sender.classList.add(role);
			sender.innerText = user;

			// Format message
			const messageContents = document.createElement('p');
			messageContents.classList.add('message');
			messageContents.innerHTML = formatEmotes(message, extra.messageEmotes);

			if (user !== latestSender) {
				latestSender = user;
				newMessage.appendChild(sender);
			}
			newMessage.appendChild(messageContents);
			newMessage.id = extra.id;

			chatbox.appendChild(newMessage);
			setTimeout(() => newMessage.classList.add('show'), 10);
		}

		ComfyJS.onChat = displayMessage;

		ComfyJS.onMessageDeleted = (id, extra) => {
			let deletedMessage = document.getElementById(id);
			if (deletedMessage) {
				deletedMessage.classList.remove('show');
				setTimeout(() => deletedMessage.remove(), 500);
			}
		}

		ComfyJS.onSub = (user, message, subTierInfo, extra) => {
			latestSender = '';
			const eventNotice = document.createElement('li');
			eventNotice.classList.add('event', 'sub');
			eventNotice.innerHTML = `<span class="event-user">${user}</span> subscribed!`;
			chatbox.appendChild(eventNotice);

			console.log({user, message, subTierInfo, extra});

			if (message) {
				displayMessage(user, message, {subscriber: true}, false, extra);
			}
		}

		ComfyJS.onResub = (user, message, streamMonths, cumulativeMonths, subTierInfo, extra) => {
			latestSender = '';
			console.log({user, message, streamMonths, cumulativeMonths, subTierInfo, extra})
			const eventNotice = document.createElement('li');
			eventNotice.classList.add('event', 'sub');
			eventNotice.innerHTML = `<span class="event-user">${user}</span> resubscribed!`;
			chatbox.appendChild(eventNotice);

			if (message) {
				displayMessage(user, message, {subscriber: true}, false, extra);
			}
		}

		ComfyJS.onRaid = (user, viewers, extra) => {
			latestSender = '';
			console.log({user, viewers, extra});
			const eventNotice = document.createElement('li');
			eventNotice.classList.add('event', 'raid');
			const viewerCount = (viewers === 1) ? '1 viewer' : `${viewers} viewers`;
			eventNotice.innerHTML = `<span class="event-user">${user}</span> is raiding with ${viewerCount}!`;
			chatbox.appendChild(eventNotice);
		}

		ComfyJS.onCommand = (user, command, message, flags, extra) => {
			let isBroadcaster = flags.broadcaster;
			let isMod = flags.mod;

			if ((isBroadcaster || isMod) && command === 'boring') {
				boring = true;
				document.querySelectorAll('#tunas img.active').forEach(tuna => tuna.classList.remove('active'));
				if (document.querySelector('#chan img.active')) {
					document.querySelector('#chan img').classList.remove('active');
				}
			}

			if ((isBroadcaster || isMod) && command === 'fun') {
				boring = false;
			}

			if ((isBroadcaster || isMod) && command === 'maxtunas') {
				if (Number.parseInt(message)) {
					let requestedMaximumTunas = Number.parseInt(message);
					maximumTunas = Math.min(Math.max(0, requestedMaximumTunas), document.querySelectorAll('#tunas img').length);
				}
			}

			if (command === 'tuna') {
				let activeTunas = document.querySelectorAll('#tunas img.active');
				let tooManyTunas = activeTunas.length >= maximumTunas;
				displayMessage(user, `!tuna ${message}`, flags, null, extra);

				if (!boring && !tooManyTunas) {
					let viableTunas = document.querySelectorAll('#tunas img:not(.active)');
					let tunaIndex = Math.floor(Math.random() * viableTunas.length);
					let tuna = viableTunas[tunaIndex];
					tuna.classList.add('active');
					setTimeout(() => {
						tuna.classList.remove('active');
					}, 7000);
				}
			}

			if (command === 'chan') {
				displayMessage(user, `!chan ${message}`, flags, null, extra);

				if (!boring && document.querySelector('#chan img:not(.active)')) {
					let chan = document.querySelector('#chan img');
					chan.classList.add('active');
					setTimeout(() => {
						chan.classList.remove('active');
					}, 7000);
				}
			}

			if (command === 'jump') {
				displayMessage(user, `!jump ${message}`, flags, null, extra);
			}
		}

		ComfyJS.Init('SomeAnticsDev');
	</script>
</body>
</html>