<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Some Antics Scenes</title>
	<script src="https://cdn.jsdelivr.net/npm/comfy.js@latest/dist/comfy.min.js"></script>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/chat.css" />
</head>
<body>
	<div id="left">
		<section id="screen"></section>
		<header>
			<h1>{{ title }}</h1>
			<p class="show-name">Some Antics</p>
		</header>
	</div>
	<div id="right">
		<section class="camera"></section>
		{% if pair %}<section class="camera"></section>{% endif %}
		<section id="chat">
			<ul></ul>
		</section>
	</div>
	<script>
		function htmlEntities(html) {
			function it() {
				return html.map(function(n, i, arr) {
						if(n.length == 1) {
							return n.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
								return '&#'+i.charCodeAt(0)+';';
								});
						}
						return n;
					});
			}
			var isArray = Array.isArray(html);
			if(!isArray) {
				html = html.split('');
			}
			html = it(html);
			if(!isArray) html = html.join('');
			return html;
		}

		function formatEmotes(text, emotes) {
			var splitText = text.split('');
			for(var i in emotes) {
				var e = emotes[i];
				for(var j in e) {
					var mote = e[j];
					if(typeof mote == 'string') {
						mote = mote.split('-');
						mote = [parseInt(mote[0]), parseInt(mote[1])];
						var length =  mote[1] - mote[0],
							empty = Array.apply(null, new Array(length + 1)).map(function() { return '' });
						splitText = splitText.slice(0, mote[0]).concat(empty).concat(splitText.slice(mote[1] + 1, splitText.length));
						splitText.splice(mote[0], 1, `<img class="emote" src="http://static-cdn.jtvnw.net/emoticons/v1/${i}/3.0">`);
					}
				}
			}
			return htmlEntities(splitText).join('')
		}

		const chatbox = document.querySelector('#chat ul');

		/**
		 * @param {string} user user's display name
		 * 
		 * @param {string} message user's message
		 * 
		 * @param {object} flags metadata about the user
		 * @param {boolean} flags.broadcaster whether this user is the streamer (me)
		 * @param {boolean} flags.customReward
		 * @param {boolean} flags.highlighted
		 * @param {boolean} flags.mod whether this user is a moderator
		 * @param {boolean} flags.subscriber whether this user has subscribed to the channel
		 * @param {boolean} flags.vip whether this user is a channel VIP
		 * 
		 * @param {boolean} self
		 * 
		 * @param {object} extra more metadata
		 * @param {string} extra.channel which channel this message was sent to
		 * @param {string} extra.customRewardId
		 * @param {string} extra.displayName user's display name
		 * @param {*} extra.flags
		 * @param {string} extra.id message ID
		 * @param {boolean} extra.isEmoteOnly whether this message only consists of emotes, possibly good as a style hook
		 * @param {Object<string, string[]>} extra.messageEmotes list of all emotes used in the message. The keys are the emote ID, and the values are arrays of range-strings with the start and ending indices for those emotes.
		 * @param {string} extra.messageType
		 * @param {string} extra.roomId
		 * @param {string} extra.timestamp stringified timestamp, presumably milliseconds since Unix epoch
		 * @param {object} extra.userBadges
		 * @param {string} extra.userColor hex code of user's color as it would display in the native Twitch chatbox
		 * @param {string} extra.userId
		 * @param {object} extra.userState
		 * @param {string} extra.username user's username, which is the lowercased version of the display name
		 */
		ComfyJS.onChat = (user, message, flags, self, extra) => {
			const newMessage = document.createElement('li');

			// Format sender
			const sender = document.createElement('p');
			sender.classList.add('sender');
			let role;
			if (flags.broadcaster || user === 'BenDMyers') {
				role = 'broadcaster';
			} else if (flags.mod) {
				role = 'mod';
			} else if (flags.subscriber) {
				role = 'subscriber';
			}
			role && sender.classList.add(role);
			sender.innerText = user;

			// Format message
			const messageContents = document.createElement('p');
			messageContents.innerHTML = formatEmotes(message, extra.messageEmotes);

			newMessage.appendChild(sender);
			newMessage.appendChild(messageContents);
			newMessage.id = extra.id;

			chatbox.appendChild(newMessage);
		}

		ComfyJS.Init('Spikevegeta');
	</script>
</body>
</html>