<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Some Antics Scenes</title>
	<script src="https://cdn.jsdelivr.net/npm/comfy.js@latest/dist/comfy.min.js"></script>
	<link rel="stylesheet" href="/css/fonts.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/chat.css" />
	<link rel="stylesheet" href="/css/tunas.css" />
	<link rel="stylesheet" href="/css/chanthink.css" />
</head>
<body>
	<div id="left">
		<section id="screen"></section>
		{% include partials/header.html %}
	</div>
	<div id="right" {% if throuple %}class="throuple"{% endif %}>
		<section class="camera"></section>
		{% if pair %}<section class="camera"></section>{% endif %}
		{% if throuple %}<section class="camera"></section>{% endif %}
		<section id="chat">
			<div class="blur">
				<ul></ul>
			</div>
		</section>
	</div>
	{% include overlays/tunas.html %}
	{% include overlays/chan.html %}
	{% include scripts/chat.html %}
</body>
</html>