<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Some Antics - Solo</title>
	<script src="https://github.com/tmijs/tmi.js/releases/download/v1.7.1/tmi.min.js"></script>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/chat.css" />
</head>
<body>
	<div id="left">
		<section id="screen"></section>
		<header>
			<h1>{{ title }}</h1>
			<p class="show-name">Some Antics</p>
		</header>
	</div>
	<div id="right">
		<section class="camera"></section>
		{% if pair %}<section class="camera"></section>{% endif %}
		<section id="chat">
			<ul></ul>
		</section>
	</div>
	<script>
		function htmlEntities(html) {
			function it() {
				return html.map(function(n, i, arr) {
						if(n.length == 1) {
							return n.replace(/[\u00A0-\u9999<>\&]/gim, function(i) {
								return '&#'+i.charCodeAt(0)+';';
								});
						}
						return n;
					});
			}
			var isArray = Array.isArray(html);
			if(!isArray) {
				html = html.split('');
			}
			html = it(html);
			if(!isArray) html = html.join('');
			return html;
		}

		function formatEmotes(text, emotes) {
			var splitText = text.split('');
			for(var i in emotes) {
				var e = emotes[i];
				for(var j in e) {
					var mote = e[j];
					if(typeof mote == 'string') {
						mote = mote.split('-');
						mote = [parseInt(mote[0]), parseInt(mote[1])];
						var length =  mote[1] - mote[0],
							empty = Array.apply(null, new Array(length + 1)).map(function() { return '' });
						splitText = splitText.slice(0, mote[0]).concat(empty).concat(splitText.slice(mote[1] + 1, splitText.length));
						splitText.splice(mote[0], 1, `<img class="emote" src="http://static-cdn.jtvnw.net/emoticons/v1/${i}/3.0">`);
					}
				}
			}
			return htmlEntities(splitText).join('')
		}

		const chatbox = document.querySelector('#chat ul');

		const client = new tmi.Client({
			connection: {
				secure: true,
				reconnect: true
			},
			channels: ['jacksepticeye', 'functionsanddragons']
		});

		client.connect();

		client.on('message', (channel, tags, message, self) => {
			console.dir({channel, tags, message, self});

			const newMessage = document.createElement('li');

			// Format sender
			const sender = document.createElement('p');
			sender.classList.add('sender');
			let role;
			if (tags.username === 'someanticsdev' || tags.username === 'bendmyers') {
				role = 'broadcaster';
			} else if (tags.mod) {
				role = 'mod';
			} else if (tags.subscriber) {
				role = 'subscriber';
			}
			role && sender.classList.add(role);
			sender.innerText = tags['display-name'];

			// Format message
			const messageContents = document.createElement('p');
			messageContents.innerHTML = formatEmotes(message, tags.emotes);
			
			// Add message to chatbox
			newMessage.appendChild(sender);
			newMessage.appendChild(messageContents);
			chatbox.appendChild(newMessage);
		});
	</script>
</body>
</html>