<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Starting Soon</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<style>
		body {
			background: linear-gradient(-45deg,var(--primary-glare),var(--primary-glare) 40%,var(--primary) 40%,var(--primary) 100%);
			display: flex;
			align-items: center;
		}

		h1 {
			font-size: 75pt;
			margin: 0 auto;
		}

		h1 svg {
			height: 100% !important;
		}
	</style>
	<h1>{% include partials/logo.html %} Starting Soon!</h1>
</body>
</html>