<header>
	<h1>{{ title }}</h1>
	<p class="twitter-handle">
		{% include icons/twitter-logo.html %}
		<span class="twitter-username">
			<span class="at">@</span>SomeAnticsDev
		</span>

		<!-- {% for guestTwitter in guestTwitters %} -->
		<!-- <span class="twitter-username"> -->
			<!-- <span class="at">@</span>{{ guestTwitter }} -->
		<!-- </span> -->
		<!-- {% endfor %} -->

		{% include icons/twitch-logo.html %}
		<span class="twitter-username">
			<span class="at">@</span>GeometricJim
		</span>
	</p>
</header>